* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui;
}

#root {
    width: 100vw;
    overflow: hidden;
    max-width: 400px;
    margin: auto;
    /* background-color: black; */
}

.container {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    will-change: contents;
    opacity: 0;
}

.container.show-page {
    opacity: 0;
    animation: none;
    animation: showContainer 0.5s linear forwards;
}

@keyframes showContainer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

button,
button:focus,
button:hover {
    user-select: none;
    outline: none;
}