.content-register {
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
}

.content-register button {
    flex: 1;
    height: 130px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}