@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=wrap");

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Roboto", sans-serif;
    /* font-family: system-ui; */
    font-size: 14px;
    font-weight: 500;
}

.body-absolute {
    width: max-content;
    position: absolute;
    top: 120%;
    right: 0;
    margin: auto;
    padding: 0.5rem;
    background-color: #515151;
    z-index: 10;
    display: flow-root;
    border-radius: 10px;
    animation: show-in 0.3s ease-in-out;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: none;

    border: 0.5px solid rgba(255, 255, 255, 0.05);
}

.body-absolute.active {
    display: flex;
    flex-direction: column;
}

@keyframes show-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.body-absolute button:hover,
.body-absolute a:hover {
    background-color: #ffffff18;
}

.body-absolute button,
.body-absolute a {
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

button,
a {
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MODAL-CONTENT */

.modal-space-content {
    background-color: #3f3f3f;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 4px;
    border-radius: 5px;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.05);
    position: relative;
}

.modal-space-content.modal-root-active {
    opacity: 0;
    animation: showInModal 0.5s ease-in-out forwards;
}

.modal-space-content.modal-root-inactive {
    opacity: 1;
    animation: closeInModal 0.5s ease-in-out forwards;
}

@keyframes showInModal {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeInModal {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(50px);
    }
}

.btnModalClose {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.btnModalClose:hover {
    color: white;
    filter: drop-shadow(0px 0px 10px white);
}

/*  */

.container-body {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.body-header {
    width: 100%;
    padding: 1rem 1.5rem 1rem 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.body-header .content-relative {
    margin-left: auto;
}

.body-search {
    flex: 1;
    max-width: 400px;
    color: white;
    display: flex;
    align-items: center;
}

.body-header input {
    width: 100%;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: inherit;
}

.body-content {
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.03);
    border-top-left-radius: 20px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.05);
    border-left: 0.5px solid rgba(255, 255, 255, 0.05);
    flex: 1 0 0;
    padding: 2rem;
    color: white;
    position: relative;
}

@media screen and (max-width: 600px) {
    .body-content {
        padding: 1rem;
    }

    .options-absolute {
        right: 1rem;
        bottom: 1rem;
    }
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-open-nav-left {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 4rem;
}

.data-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    gap: 10px;
}

.data-grid * {
    font-weight: 400;
}

/* .btn-absolute {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
} */

.options-absolute {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.options-absolute .btn-option {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #515151;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.05);
}

@media screen and (max-width: 600px) {

    .body-content {
        padding: 1rem;
    }

    .options-absolute {
        right: 1rem;
        bottom: 1rem;
    }
}