@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=wrap");

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

:root {
    --width-section-content: 1000px;
    --btn-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    --separator-border-color: #ffffff0d;
    --bg-card-proceso: #282828;
    --bg-card-proceso-one: #2f2f2fb3;
}

#root {
    min-width: 320px;
}